lit/*
bias/*
data/*
.Rproj.user
*.bib.sav
*.bib~
/.luarc.json
thesis_files/*
#*.pdf
*.html
*.cache
code/checkpoints/*
code/integrated_datasets/*
code/logs/*
code/text_files/*
*.otf
_extensions/*
.vscode/*